# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment
citybikeenv/
.env

# Large data files
data/raw/
data/processed/*.csv

# Generated reports
reports/figures/

# OS files
.DS_Store
Thumbs.db